<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <div class="forgrtPassdiv" style="border: 1px dotted black;padding:10px 0px 20px 10px;background-color:rgb(255, 255, 255);font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;border-radius: 5px;">
        <h1 style="font-weight:900;">Welcome Keerthan,</h1>
        <p style="padding: 0px 0px 20px 0px;">Thanks for sigining up with smmdigg!</p>
        <p>Get Your Social Account's Likes, Followers, Subscribers & More in cheap price at One Place, Instantly.</p>
        <p>🥇 We have Multiple Payment options Like GooglePay, PhonePay, PayTm, Cards accepted and automatically added into your Account.</p>
        <p>😋 We provide 24*7 support to all our customers on the ticket system and also on WhatsApp</p>
        <div style="padding: 10px 0px 0px 0px;">
            <h3>How to get Started?</h3>
                <p>1. Create an Free account</p>
                <p>2. Add fund via Razorpay[Phonepay, GooglePay, PayTm, Cards, Etc available]</p>
                <p>3. Place New order and wait for mins/hours.</p>
                <p>4 .Order Auto Completetd by system.</p>
        </div>
        <div style="display: flex;flex-direction:column;justify-content:first baseline;">
            <p class="" style="margin-bottom: 0px;padding:0px;">Thank you,</p>
            <p style="margin-bottom: 0px;padding:0px;">smmdigg Team | <a href="https://www.smmdigg.in">smmdigg.in</a></p>
            
        </div>
    </div>
</body>
</html>